# {{ ansible_managed }}

# https://stackoverflow.com/questions/42136745/using-an-ssh-agent-from-emacs-in-server-mode
# keychain manages ssh-agents
type keychain >&/dev/null \
    && keychain --agents ssh

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"
eval "$(pyenv virtualenv-init -)"
