# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '{{ ansible_user_dir }}/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

alias e="emacsclient -t -a ''"  # ansible_managed

# ANSIBLE MANAGED BLOCK - emacs keychain"
# keychain keeps track of ssh-agents
[ -f $HOME/.keychain/$HOSTNAME-sh ] \
    && . $HOME/.keychain/$HOSTNAME-sh

# ANSIBLE MANAGED BLOCK - emacs EDITOR"
export EDITOR="e"  # ansible_managed
export VISUAL="$EDITOR"  # ansible_managed

eval "$(starship init zsh)"
