[remmina]
password=.
gateway_username=
notes_text=
window_height=1025
vc=
disable-smooth-scrolling=0
ssh_privatekey={{ item.ssh_privatekey | default('') }}
serialname=
ssh_tunnel_loopback=0
preferipv6=0
tls-seclevel=
enableproxy=0
ssh_password=
printer_overrides=
ssh_auth=
name={{ item.name }}
console=0
colordepth=66
security=
precommand=
disable_fastpath=0
websockets=0
postcommand=
left-handed=0
ssh_tunnel_command=
multitransport=0
ssh_charset=
group={{ item.group | default('') }}
freerdp_log_level=INFO
server={{ item.server }}
no-suppress=0
glyph-cache=0
printerdriver=
disableclipboard=0
labels=
parallelpath=
ssh_tunnel_certfile=
cert_ignore=0
ssh_tunnel_enabled=0
gateway_server=
serialpermissive=0
protocol={{ item.protocol }}
ssh_tunnel_password=
disconnect-prompt=0
printername=
resolution_mode=0
monitorids=
assistance_mode=0
old-license=0
audio-output=
disableautoreconnect=0
loadbalanceinfo=
pth=
clientname=
clientbuild=
resolution_width=1280
ssh_username=
drive=
relax-order-checks=0
username={{ item.username }}
base-cred-for-gw=0
gateway_domain=
profile-lock=0
network=none
serialdriver=
domain={{ item.domain }}
rdp2tcp=
gateway_password=
rdp_reconnect_attempts=
smartcardname=
exec=
serialpath=
multimon=0
ssh_loopback=
last_success=
enable-autostart=0
shareprinter=0
disablepasswordstoring=0
shareparallel=0
quality=0
usb=
span=0
viewmode=1
parallelname=
ssh_tunnel_passphrase=
execpath=
shareserial=0
sharefolder=
sharesmartcard=0
keymap=
ssh_tunnel_username=
resolution_height=960
rdp_mouse_jitter=No
restricted-admin=0
timeout=
microphone=0
useproxyenv=0
freerdp_log_filters=
gwtransp=http
window_maximize=1
ssh_tunnel_auth=0
ssh_tunnel_server=
gateway_usage=0
window_width=1680
dvc=
sound=off
ssh_server=
ssh_tunnel_privatekey=
