# {{ ansible_managed }}
# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
    colors = true
    interval = 5
    color_good = '#88b090'
    color_degraded = '#ccdc90'
    color_bad = '#e89393'
}

# order += "ipv6"
order += "file_status voicenotes"
order += "disk /"
#order += "wireless _first_"
#order += "ethernet _first_"
{% if i3_battery | default(False) %}
order += "battery all"
{% endif %}
# order += "volume master"
order += "volume_status master"
order += "volume_status microphone"
order += "cpu_temperature 0"
order += "cpu_usage"
order += "load"
order += "arch_updates"
order += "scratchpad_counter"
order += "tztime local"

arch_updates {
    format = " {total}"
    hide_if_zero = true
    on_click 1 = "exec pamac-manager --updates"
}

scratchpad_counter {
    hide_when_none = true
}

wireless _first_ {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
}

ethernet _first_ {
        # if you use %speed, i3status requires root privileges
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery all {
    format = "%status %percentage %remaining"
    format_down = ""
    last_full_capacity = true
    integer_battery_capacity = true
    low_threshold = 11
    threshold_type = percentage
    hide_seconds = true
    status_chr = " "
    status_bat = " "
    status_unk = " "
    status_full = " "
}

tztime local {
    format = " %d/%m/%Y   %H:%M"
}

load {
    format = " %1min"
}

disk "/" {
    format = " %avail"
    prefix_type	= custom
    low_threshold = 20
    threshold_type = percentage_avail
    on_click 1 = "exec pcmanfm"
}

file_status voicenotes {
    paths = "~/Dropbox/org/voicenotes/*"
    format = "\?color=path [\?if=path |]"
    thresholds = [(0, 'bad'), (1, 'bad')]
    on_click 1 = "exec pcmanfm ~/Dropbox/org/voicenotes"
}

volume_status master {
    cache_timeout = 1
    #format = "♪ {percentage}%"
    format = " {percentage}%"
    #format_muted = "  "
    format_muted = "  "
    on_click 3 = "exec pavucontrol"
}

volume_status microphone {
    is_input = true
    format = " {percentage}%"
    format_muted = "  "
    on_click 3 = "exec pavucontrol"
}

volume master {
    format = " %volume"
    format_muted = "  "
    device = "default"
    mixer = "Master"
    mixer_idx = 0
    on_click 1 = "exec pavucontrol"
}

cpu_temperature 0 {
    format = " %degrees°C"
}

cpu_usage {
    format = " %usage"
}

