# {{ ansible_managed }}
AddKeysToAgent yes
{% for host in ssh_config.config %}
{%   for key, value in host.items() %}
{%     if key|lower == "host" %}

Host {{ value|e }}
{%     endif %}
{%     if key|lower != "host" %}
  {{ key|e }} {{ value|e }}
{%     endif %}
{%   endfor %}
{% endfor %}
