# {{ ansible_managed }}
[Desktop Entry]
Name=Org-protocol
Exec=emacsclient %u
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/emacs.svg
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
